<div class="form-horizontal justify-content-between" >
  <div>
  <select (change)="onGet($event.target.value)">
    <option *ngFor="let i of chanels">{{i}}</option>
  </select>
  </div>
  <div>
    <div class="">
      <div class="checkbox">
        <label><input type="checkbox"> only created by me</label>
      </div>
    </div>
  </div>
  <div >
    <div class="btn btn-default">
      <button routerLink="/create" class="btn btn-info">Add article</button>
    </div>
  </div>
</div>
<div class="col-md-12">
<table *ngIf="active" class="table">
  <tr *ngFor="let article of news">
    <td class="text-left">
      <a (click)="edit(article)">
        <span *ngIf="article!==editArticle">{{article.title}}</span>
        <input *ngIf="article===editArticle" [(ngModel)]="article.title" (blur)="update()">
      </a>
    </td>
    <td class="text-right">
      <button routerLink="/edit"class="btn btn-info" title="edit article" (click)="update()">Update</button>
      <button routerLink="/edit"class="btn btn-danger" title="delete article" (click)="delete(article)">Delete</button>
    </td>
  </tr>
</table>
</div>
<div *ngIf="!active" class="col-md-12">
<ul class="list-group" *ngFor="let article of articles">
  <li class="list-group-item">
    <img [src]="article.urlToImage" style="height: 50px; width: auto; display: inline-block;"> 
    <h2>{{article.title}}</h2>
    <i>{{article.author}}</i>
    <p>{{article.description}}</p>
  </li>
</ul>
  </div>

