<form class="form-horizontal">
  <div class="form-group">
    <div class="">
      <div class="checkbox">
        <label><input type="checkbox"> only created by me</label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="btn btn-default">
      <button routerLink="/create" class="btn btn-default">Add article</button>
    </div>
  </div>
</form>
<app-http></app-http>
<!--<table class="table">-->
  <!--<tr *ngFor="let article of news">-->
    <!--<td class="text-left">-->
      <!--<a (click)="edit(article)">-->
        <!--<span *ngIf="article!==editArticle">{{article.title}}</span>-->
        <!--<input *ngIf="article===editArticle" [(ngModel)]="article.title" (blur)="update()">-->
      <!--</a>-->
    <!--</td>-->
    <!--<td class="text-right">-->
      <!--<button class="btn btn-info" title="edit article" (click)="update()">Update</button>-->
      <!--<button class="btn btn-danger" title="delete article" (click)="delete(article)">Delete</button>-->
    <!--</td>-->
  <!--</tr>-->
<!--</table>-->
